{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{{ form_start(login_form)}}
{{ form_widget(login_form.username, 'attr')}}
{{ form_start(registration_form, {'attr':{'class':'w-50 mx-auto'}})}}

{{ form_widget(login_form.password)}}
{{ form_end(login_form)}}
<a href="{{path('registration')}}"><span> U dont't have an account ? Create it here ! </span></a>
{% endblock %}
