{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{{ form_start(login_form)}}
{{ form_widget(login_form.username, {'attr':{'name':'_username'}})}}

{{ form_widget(login_form.username, {'attr':{'name':'_passwor'}})}}

{{ form_end(login_form)}}
<a href="{{path('registration')}}"><span> U dont't have an account ? Create it here ! </span></a>
{% endblock %}
