{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{{ form_start(registration_form)}}
{{ form_label(registration_form.username, {'attr':{'class')}}
{{ form_start(category_form, {'attr':{'class':'w-50 mx-auto' }})}}

{{ form_widget(registration_form.username)}}
{{ form_label(registration_form.password)}}
{{ form_widget(registration_form.password)}}
<a href="{{path('login')}}"><span> U have an account ? Login here ! </span></a>
{% endblock %}
