{% extends 'base.html.twig' %}

{# {% block head %}
{% endblock %} #}


{% block title %}Hello HomeController!{% endblock %}


{% block body %}

<h2 class="text-center my-4"> Post list </h2>
<div class="sortBy d-flex justify-content-around my-5">
<select class="form-select w-25" aria-label="Default select example">
  <option selected>Sort by</option>
  <option value="1">Category</option>
  <option value="2">Release date</option>
</select>
</div>
<div class="container">
<div class="row col-12">
{% for item in post %}
<div class="col-3">
<div class="card mb-3">
  <img class="card-img-top" src="{{ item.illustration }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.content }}</p>
    <p class="card-text"><small class="text-muted">Category : {{item.category.nameCategory}}</small></p>
    <p class="card-text"><small class="text-muted">Release date : {{item.createdAt|date("m/d/Y")}}</small></p>
  </div>
</div>
</div>

{% endfor %}
{% endblock %}
 {% block footer %}
{% endblock %}




