{% extends 'base.html.twig' %}

{# {% block head %}
{% endblock %} #}


{% block title %}Home{% endblock %}


{% block body %}

<h2 class="text-center my-4"> Post list </h2>
<div class="sortBy d-flex justify-content-around my-5">
<form class=">
<select class="form-select w-25" aria-label="Default select example">
  <option selected>Sort by</option>
  <option value="1">Category</option>
  <option value="2">Release date</option>
</select>
<input type="submit" value="Go !">
</form>
</div>
<div class="container">
<div class="row col-12">
{% for item in post %}
<div class="col-4">
<div class="card mb-3">
  <img class="card-img-top" src="{{ item.illustration }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.content }}</p>
    <p class="card-text"><small class="text-muted">Category : {{ item.category.name }}</small></p>
    <p class="card-text"><small class="text-muted">Release date : {{item.createdAt|date("m/d/Y")}}</small></p>
    <a href="{{ path('show', {'id' : item.id}) }}" class="text-decoration-none color-dark"> <button class="btn btn-dark">More...</button></a>
  </div>
</div>
</div>
{# 
<h3 class="text-left mt-5 w-50 ms-3">{{ item.title }}</h3>
<img src="{{ item.illustration }}"/> #}


{# <p class="text-left w-50 ms-3">{{ item.content }}</p>
</a>

<span class="text-center ms-3">{{item.category.nameCategory}}</span>
<span class="text-center ms-3">{{item.createdAt|date("m/d/Y")}}</span> #}
{# <hr class="w-50"> #}
{% endfor %}
{% endblock %}
 {% block footer %}
{% endblock %}




